{% extends 'base.html' %}
{% load static %} 

{%block style %}
<link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'single.css' %}">
{% endblock style %}

{% block content %}
<h2>Postar um novo projeto</h2>

<div class="postForm">
<form method="POST" action="{% url 'posts:create' %}">
  {% csrf_token %}
  {{ form.as_p }}
    <button class="postButton" type="submit"><p>Criar</p></button>
  </form>
</div>
  
  {% endblock content %}