{% extends 'base.html' %}
{% load static %}

{%block style %}
<link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'single.css' %}">
{% endblock style %}

{% block content %}
<form action="{% url 'posts:delete' post.id %}" method="post">
  {% csrf_token %}
  <h2>
    Você tem certeza que deseja apagar o projeto "{{ post.title }}"?
  </h2>
  <p style="padding: 16px 32px;">Essa ação é definitiva e apaga todo o conteúdo do post e seus comentários.</p>
  <button class="postButton" type="submit"><p>Apagar</p></button>
</form>
{% endblock content %}