{% extends 'base.html' %}
{% load static %} 

{%block style %}
<link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'single.css' %}">
{% endblock style %}

{% block content %}
<h2>{{post.title}}</h2>
{% if post.categories.all %}
    <ul>
    {% for category in post.categories.all%}
    <li><a class="buttonText" href="{% url 'posts:categoryFilter' category.id  %}">{{ category.name }}</a></li>
    
    {% endfor%}
    </ul>
{%endif%}
<div style="display: flex; flex-direction: row;">
<div class="postButton">
    <a class="buttonText" href="{% url 'posts:delete' post.id %}">Apagar o projeto</a>
</div>
<div class="postButton">
    <a class="buttonText" href="{% url 'posts:update' post.id %}">Editar o projeto</a>
</div>
</div>


{{post.content|safe}}

<h2>Comentários</h2>
<div class="postButton">
    <a class="buttonText" href="{% url 'posts:comment' post.pk %}">+ Comentar</a>
</div>
<ul style="display: flex; flex-direction: column; padding: 0 80px;">
    {% if post.comment_set.all %}
        {% for comment in post.comment_set.all|dictsortreversed:"date" %}
            <div style="padding: 16px;">
                <p>
                    "{{ comment.text }}"
                </p>
                <p style="padding: 0 16px; color: rgb(121, 121, 121);">—{{ comment.author }}  -  {{comment.date|date:"d/m/Y, H:i"}}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Não há comentários no post deste projeto.</p>
    {% endif %}
</ul>

{% endblock content %}